<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>CFBundleName</key>
    <string>ExtractIPA</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleIdentifier</key>
    <string>com.tools.extractipa</string>
    <key>CFBundleExecutable</key>
    <string>ExtractIPA</string>
    <key>MinimumOSVersion</key>
    <string>16.0</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>
</dict>
